#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.plus {
  color: white;
}
.sis {
  height: 40px;
  width: 40px;
}

.user-contain {
    height: 45px;
    width: 45px;
}

ion-avatar {
    text-align: right;
}

#camera-icon {
    font-size: 14px;
    position: absolute;
    right: 2px;
    top: 35px;
}